@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display&display=swap');

/*Colors*/
$background-color: #d8eacb;
$background-color-header: #eeeeee;
$background-color-nav: #72a84a;
$black-color: #000000;
$white-color: #ffffff;
$gray-color: #cccccc;

/*Typography*/
$montserrat-typography: 'Montserrat', sans-serif;
$playfair-typography: 'Playfair Display', serif;

/*Images*/
$background-img-forest: '../images/forest.jpg';

/*Screen sizes*/
$sm-tablet-screen: 550px;
$tablet-screen: 750px;
$desktop-screen: 980px;

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-color;
  font-family: $montserrat-typography;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: $background-color-header;
  padding: 0.5em;
}

.logo {
  color: $black-color;
  font-weight: bold;
}

.menu {
  cursor: pointer;
}

nav {
  ul {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: $background-color-nav;
    padding-top: 5em;
    z-index: 100;

    li {
      a {
        color: $black-color;
        font-size: 1.5em;
        font-weight: bold;
        padding: 1em;
        display: block;
      }
    }
  }
}

.exit {
  a {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.open-nav {
  visibility: unset;
  opacity: 1;
  transform: translateX(0);
}

.forest-hero {
  background: url($background-img-forest);
  background-size: cover;
  color: $white-color;
}

.wrapper {
  padding: 0.5em;
  text-align: center;
}

.no-padding {
  padding: 0;
}

.subtitle {
  padding: 3em 0 0.5em;
}

h1 {
  span {
    display: block;
    // clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  }
}

.cta {
  padding: 1em;
  background-color: $background-color-nav;
  font-weight: bold;
  color: $white-color;
  // display: inline-block allows to set margin of this element
  display: inline-block;
  margin-bottom: 3em;
  margin-top: 1em;
}

ul.featured-cabins {
  width: 60%;
  margin: 0 auto;

  li {
    margin-bottom: 3em;
  }
}

.cabin-img {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.cabin-title {
  font-weight: bold;
  font-size: 1.5em;
  position: relative;
  margin-bottom: 1.5em;

  &:after {
    position: absolute;
    content: '';
    width: 40%;
    height: 0.3em;
    background-color: $background-color-nav;
    bottom: -10px;
    left: 70px;
  }
}

.cabin-desc,
ul.features li p,
.left p {
  line-height: 1.9em;
  font-size: 0.8em;
  margin-bottom: 2em;
}

.cabin-cta {
  display: flex;
  justify-content: space-between;
  position: relative;

  &::after {
    position: absolute;
    bottom: -10px;
    content: '';
    background-color: $white-color;
    width: 100%;
    height: 1px;
  }

  span {
    color: $white-color;
    font-weight: bold;
  }

  img {
    width: 10px;
  }
}

.feature-container {
  background-color: $black-color;
  color: white;
}

ul.features {
  margin: 3em auto;
  width: 70%;

  li {
    img {
      width: 20%;
    }

    p {
      color: $gray-color;
    }
  }
}

.main-quote {
  font-family: $playfair-typography;
  font-size: 2.2em;
  font-style: italic;
  margin-bottom: 0.5em;
}

.main-cite {
  display: block;
  font-size: 1.1em;
  margin-bottom: 3em;
}

ul.testimonials {
  margin: 3em 0;
  li {
    margin-bottom: 3em;
    img {
      border-radius: 50%;
      width: 20%;
      height: 20%;
      box-shadow: 5px 5px 5px rgba(114, 168, 74, 0.3);
    }
  }
}

.test-left {
  .test-desc {
    font-family: $playfair-typography;
    font-style: italic;
  }

  .test-auth {
    font-weight: bold;
    font-size: 0.85em;
  }
}

.last-container {
  position: relative;
}

.fern {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  z-index: 1;
  opacity: 0.1;
}

@media (min-width: $sm-tablet-screen) {
  header {
    padding: 1em;
    display: flex;
    justify-content: space-between;
  }
  .menu,
  .exit {
    display: none;
  }
  ul.nav {
    visibility: unset;
    opacity: 1;
    background-color: unset;
    position: unset;
    height: auto;
    padding-top: 0;
    display: flex;
    justify-content: space-between;

    li {
      a {
        font-size: 0.9em;
        font-weight: normal;
        padding: 0 1em;
      }

      &:last-child a {
        padding-right: 0;
      }

      &.active a {
        font-weight: bold;
        color: $background-color-nav;
      }
    }
  }

  p.subtitle {
    font-size: 1.1em;
  }

  ul.featured-cabins {
    width: 80%;
  }

  .cabin-title {
    &:after {
      width: 40%;
      height: 0.3em;
      background-color: $background-color-nav;
      bottom: -10px;
      left: 120px;
    }
  }
}

@media (min-width: $tablet-screen) {
  ul.featured-cabins {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 3em;
  }

  .cabin-title {
    &:after {
      width: 100%;
      height: 0.3em;
      background-color: $background-color-nav;
      bottom: -10px;
      left: 0;
    }
  }

  .cabin-img {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  }

  .last-container .flex {
    margin: 0 auto;
    width: 80%;
  }

  ul.features {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 3em;
  }
}

@media (min-width: $desktop-screen) {
  .wrapper {
    text-align: left;
  }

  .hero {
    padding: 8em 4em;
  }

  .flex {
    display: flex;
  }

  .last-container {
    padding: 0 4em;
  }

  .main-copy {
    width: 40%;
  }

  p.subtitle {
    font-size: 1em;
    margin: 0 0 1em;
    padding: 0;
  }

  h1 {
    font-size: 3em;
    margin-top: 0;
  }

  ul.featured-cabins {
    width: 70%;
  }

  .main-quote,
  .main-cite {
    text-align: center;
  }

  .main-quote {
    font-size: 3em;
    margin-top: 2em;
  }

  .main-cite {
    font-size: 1.5em;
    margin-bottom: 3em;
  }

  .bio {
    width: 90%;
  }

  ul.testimonials {
    width: 100%;
    margin-left: 2em;

    li {
      display: flex;
      background-color: $white-color;
      padding: 1.5em;
      margin-bottom: 1em;
    }
  }

  .test-img {
    margin-right: 1em;
  }

  .test-desc {
    margin-top: 0.5em;
    font-size: 1.1em;
    margin-bottom: 0;
  }

  .fern {
    width: 20%;
  }

  .cabin-desc,
  ul.features li p,
  .left p {
    font-size: 0.9em;
  }
}
