@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display&display=swap');

$background-color: #d8eacb;

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-color;
}
